{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Program</title>
{% endblock %}

{% block content %}
<div>
    <h3>Program</h3>
    <a href="{% url 'program_add' %}"><button class="btn btn-default">Add New Programme</button></a>
    <div>
        {% regroup programs by category.name as program_list %}
        {% for program_category, program in program_list %}
            <h3>{{ program_category }}</h3>
            <ul>
                {% for program in program %}
                    <div><a href="{% url 'program_edit' program.id %}">{{ program.name }}</a></div>
                {% endfor %}
            </ul>
        {% endfor %}
{#        {% for program in programs %}#}
{#            <p>{{ program.category.name }}</p>#}
{#        {% endfor %}#}
    </div>
</div>
{% endblock %}